<template>
    <div>
        <v-layout row wrap>
            <v-flex xs4 mt-2 mb-2 ml-2  >
                <v-img src="https://picsum.photos/510/300?random" ></v-img>
                <v-btn block color="secondary" @click.native.stop="dialog = true">Друзі</v-btn>
                <v-layout row justify-center>
                    <v-dialog  v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" width="100%">
                        <v-card>
                            <v-toolbar dark color="primary">
                                <v-btn icon dark @click="dialog = false">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </v-toolbar>                  
                        </v-card>
                    </v-dialog>
                </v-layout>
            </v-flex>
            <v-flex mt-2 mb-2 mr-2 ml-2 >
                <v-card >
                    <v-list two-line subheader>
                        <v-list-group>
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Статус</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-sub-title>{{status}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list-group>
                        <v-list-group>

                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Загальна інформація</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Ім'я</v-list-tile-title>
                                    <v-list-tile-sub-title>{{name}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Нік</v-list-tile-title>
                                    <v-list-tile-sub-title>{{nickname}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Рік народження</v-list-tile-title>
                                    <v-list-tile-sub-title>{{birthYear}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            
                        </v-list-group>
                        
                        <v-list-group>
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Робота й освіта</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Робота</v-list-tile-title>
                                    <v-list-tile-sub-title>{{work}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Освіта</v-list-tile-title>
                                    <v-list-tile-sub-title>{{education}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                        </v-list-group>

                        <v-list-group>
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Інше</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Місце проживання</v-list-tile-title>
                                    <v-list-tile-sub-title>{{adress}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Стать</v-list-tile-title>
                                    <v-list-tile-sub-title>{{become}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Мова</v-list-tile-title>
                                    <v-list-tile-sub-title>{{language}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Іменини</v-list-tile-title>
                                    <v-list-tile-sub-title>{{birthday}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Віросповідання</v-list-tile-title>
                                    <v-list-tile-sub-title>{{creed}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Політичні погляди</v-list-tile-title>
                                    <v-list-tile-sub-title>{{politicalViews}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                        </v-list-group>

                        <v-list-group>
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Сімейний стан</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Сімейний стан </v-list-tile-title>
                                    <v-list-tile-sub-title>{{maritalStatus}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Мама</v-list-tile-title>
                                    <v-list-tile-sub-title>{{mother}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Батько</v-list-tile-title>
                                    <v-list-tile-sub-title>{{father}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            
                        </v-list-group>

                    </v-list>
                </v-card>
                
            </v-flex>
        </v-layout>


        

    </div>       
</template>

<script>
export default {
    data () {
        return {
            dialog: false,
            notifications: false,
            sound: true,
            widgets: false,

            status: "Жити люб’язно і дружно, бути вірним до смерті і помагати одне одному",
            name: "Наталка",
            nickname: "Полтавка",
            birthYear: "1800 (1819)",
            work: "тимчасово не працюю",
            education:"немає",
            adress: "з 1800 по 1814 проживала в м.Полтава, з 1814 у селі під Полтавою біля р.Ворскла",
            become: "жіноча",
            birthday:"",
            language: "українська",
            creed: "православна",
            politicalViews: "аполітична, але не люблю панів",
            maritalStatus: "у стосунках з Петро",
            mother:"Горпина Терпилиха",
            father: "помер",
            favoriteQuotes:[{
                text: "Знайся кінь з конем, а віл з волом."
            },
            {
                text: "Нав'язнути в зуби."
            }],
            friends: [{
                name:"",
                icon: "",
            }],
            videos: [{
                name: "",
                href: ""
            }]
        }
    }
}
</script>

