<template>
  <v-app>
    <v-toolbar app>
      
    </v-toolbar>

    <v-content>
      <HomeComponent/>
    </v-content>
  </v-app>
</template>

<script>
import HomeComponent from './components/HomeCompunent.vue'
import FriendsDialogComponent from './components/FriendsDialogComponent.vue'

export default {
  name: 'App',
  components: {
    'HomeComponent': HomeComponent,
    // eslint-disable-next-line
    'FriendsDialogComponent': FriendsDialogComponent
  },
  data () {
    return {
      
    }
  }
}
</script>
